@font-face {
  font-family: 'Neo Sans Std';
  src: url('/fonts/neo-sans-std/Neo Sans Std Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neo Sans Std';
  src: url('/fonts/neo-sans-std/Neo Sans Std Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neo Sans Std';
  src: url('/fonts/neo-sans-std/Neo Sans Std Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Proxima Nova */
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Proxima Nova/Proxima Nova Regular/Proxima Nova Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Proxima Nova/Proxima Nova Light/Proxima Nova Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Proxima Nova/Proxima Nova Semibold/Proxima Nova Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Proxima Nova/Proxima Nova Extrabold/Proxima Nova Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Neo Sans Std', sans-serif;
  overflow-x: hidden;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.font-proxima {
  font-family: 'Proxima Nova', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}